html {
  font-family: "Raleway", sans-serif;
  margin: 10px;
  background-color: #4e878c;
}

#nav>div {
  display: flex;
  color: #5fcf7b;
  flex-flow: row nowrap;
  height: 80%;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}

#nav>div>p {
  border: solid black 1px;
  padding: 5px 30px;
  margin: 0px;
  box-shadow: black 1px 2px;
  text-shadow: black 1px 2px;
  font-size: 1.5em;
  background-color: #e2efde;
}

#title>p {
  text-align: center;
  font-size: 3em;
  color: #5fcf7b;
  text-shadow: black 2px 3px;
  padding: 0px;
  margin: 0px;
}

#titlePic{
  height:300px;
  width: fit-content;
  background-position: center;
  background-repeat: no-repeat;
}

#splashPic{
  height: 400px;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  width: 45%;
  margin: auto;
  float: right;
}

#homePage>h3{
  font-size: 2em;
  text-align: center;
}

#homePage>p{
  font-size: 1.4em;
  padding: 10px 30px;
}

#homePage{
  background-color: #e2efde70;
  border: 1px solid black;
  border-radius: 6px;
}

#playerGrid>table {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  margin: auto;
  justify-content: space-around;
  border: black solid 5px;
  padding: 20px;
  width: 75%;
  background-color: #e2efde;
}

#playerResultsGrid>tbody>tr>td {
  border: black solid 1px;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  width: 300px;
  height: auto;
  text-align: center;
  font-size: 1.3em;
  background-color: #97d2fb;
}

#playerResultsGrid>thead>tr>th {
  border: black solid 1px;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  width: 300px;
  height: auto;
  text-align: center;
  font-size: 1.3em;
  background-color: #69aedf;
}

#spacerUpper {
  padding: 10px;
}

#spacerLower {
  padding: 20px;
}

#scheduleLink{
  display: flex;
  color: #5fcf7b;
  flex-flow: row nowrap;
  height: 80%;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}

#scheduleLink>p{
  border: solid black 1px;
  padding: 5px 30px;
  margin: 0px;
  box-shadow: black 1px 2px;
  text-shadow: black 1px 2px;
  font-size: 1.5em;
  background-color: #e2efde;
}


footer {
  margin: 1%;
  text-align: center;
  border-top: solid black 3px;
  padding: 5px;
}

#scheduleGrid>table {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  margin: auto;
  justify-content: space-around;
  border: black solid 5px;
  padding: 20px;
  width: 75%;
  background-color: #e2efde;
}

#scheduleResultsGrid>tbody>tr>td {
  border: black solid 1px;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  width: 300px;
  height: auto;
  text-align: center;
  font-size: 1.3em;
  background-color: #97d2fb;
}

#scheduleResultsGrid>thead>tr>th {
  border: black solid 1px;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  width: 300px;
  height: auto;
  text-align: center;
  font-size: 1.3em;
  background-color: #69aedf;
}

#myText{
  font-style: italic;
}

#daySelectBox{
  display: block;
  width: 70%;
  margin: auto;
}

#selectionBox{
  padding: 0px 30px 0px 5px;
  font-size: 1.2em;
}

#registrationTitle{
  text-align: center;
  font-size: 3em;
}

#userForm{
  font-size: 1.5em;
  background-color: rgb(59, 103, 121);
  border: 2px solid black;
}

section>h4{
  font-size: 1.2em;
  text-align: center;
}

#timeSlots{
  display: block;
  width: 80%;
  margin: auto;
}

#gameSelect{
  display: block;
  width: 70%;
  margin: auto;
}

#spacer{
  padding: 10px;
}

#userInput{
  display: flex;
  flex: auto;
  justify-content: space-around;
}

fieldset{
  border: 0;
}

#buttons{
  display:flex;
  flex:auto;
  justify-content: space-evenly;
  align-content: center;
  padding-top: 30px;
}
