html {
  font-family: "Raleway", sans-serif;
  margin: 10px;
  background-color: #4e878c;
}

#nav>div {
  display: flex;
  color: #5fcf7b;
  flex-flow: row nowrap;
  height: 80%;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}

#nav>div>p {
  border: solid black 1px;
  padding: 5px 30px;
  margin: 0px;
  box-shadow: black 1px 2px;
  text-shadow: black 1px 2px;
  font-size: 1.5em;
  background-color: #e2efde;
}

#title>p {
  text-align: center;
  font-size: 3em;
  color: #5fcf7b;
  text-shadow: black 2px 3px;
  padding: 0px;
  margin: 0px;
}

#titlePic{
  height:300px;
  width: 60%;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}

header>div>aside{
  width: 10%;
  float: right;
  border: 1px black solid;
  border-radius: 4px;
  text-align: center;
  background-color: #e2efde;
}

header>div>aside:hover{
  background-color: #a2a7a1;
}

#splashPic{
  height: 400px;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  width: 45%;
  margin: auto;
  float: right;
}

#homePage>h3{
  font-size: 2em;
  text-align: center;
}

#homePage>p{
  font-size: 1.4em;
  padding: 10px 30px;
  margin: 5px;
}

#homePage{
  background-color: #c5cac4;
  border: 1px solid black;
  border-radius: 6px;
}

#homePage>h3{
  margin: 0px;
  margin-bottom: 20px;
}

#playerGrid>table {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  margin: auto;
  justify-content: space-around;
  border: black solid 5px;
  padding: 20px;
  width: 75%;
  background-color: #e2efde;
}

#playerResultsGrid>tbody>tr>td {
  border: black solid 1px;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  width: 300px;
  height: auto;
  text-align: center;
  font-size: 1.3em;
  background-color: #97d2fb;
}

#playerResultsGrid>thead>tr>th {
  border: black solid 1px;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  width: 300px;
  height: auto;
  text-align: center;
  font-size: 1.3em;
  background-color: #69aedf;
}

#spacerUpper {
  padding: 10px;
}

#spacerLower {
  padding: 20px;
}

#scheduleLink{
  display: flex;
  color: #5fcf7b;
  flex-flow: row nowrap;
  height: 80%;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}

#scheduleLink>p{
  border: solid black 1px;
  padding: 5px 30px;
  margin: 0px;
  box-shadow: black 1px 2px;
  text-shadow: black 1px 2px;
  font-size: 1.5em;
  background-color: #e2efde;
}


footer {
  margin: 1%;
  text-align: center;
  border-top: solid black 3px;
  padding: 5px;
}

#scheduleGrid>table {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  margin: auto;
  justify-content: space-around;
  border: black solid 5px;
  padding: 20px;
  width: 75%;
  background-color: #e2efde;
}

#scheduleResultsGrid>tbody>tr>td {
  border: black solid 1px;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  width: 300px;
  height: auto;
  text-align: center;
  font-size: 1.3em;
  background-color: #97d2fb;
}

#scheduleResultsGrid>thead>tr>th {
  border: black solid 1px;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  width: 300px;
  height: auto;
  text-align: center;
  font-size: 1.3em;
  background-color: #69aedf;
}

#myText{
  font-style: italic;
}

#daySelectBox{
  display: block;
  width: 70%;
  margin: auto;
  border: solid black 1px;
  border-radius: 5px;
  padding: 20px;
  background-color: #e2efde;
}

#daySelectBox>h4{
  margin: 0px;
}


#selectionBox{
  padding: 0px 30px 0px 5px;
  font-size: 1.2em;
}

#registrationTitle{
  text-align: center;
  font-size: 3em;
}

#userForm{
  font-size: 1.5em;
  background-color: rgb(59, 103, 121);
  border: 2px solid black;
}

section>h4{
  font-size: 1.2em;
  text-align: center;
}

#timeSlots{
  display: block;
  width: 80%;
  margin: auto;
  border: solid black 1px;
  border-radius: 5px;
  padding: 20px;
  background-color: #e2efde;
}

#timeSlots>h4{
  margin: 0px;
}

#gameSelect{
  display: block;
  width: 70%;
  margin: auto;
  border: solid black 1px;
  border-radius: 5px;
  padding: 20px;
  background-color: #e2efde;
}

#gameSelect>h4{
  margin: 0px;
}

#spacer{
  padding: 10px;
}

#userInput{
  display: flex;
  flex: auto;
  justify-content: space-around;
  border: solid black 1px;
  border-radius: 5px;
  padding: 10px;
  background-color: #e2efde;
  margin-bottom: 20px;
}

fieldset{
  border: 0;
}

#buttons{
  display:flex;
  flex:auto;
  justify-content: space-evenly;
  align-content: center;
  padding-top: 30px;
}

#bullwinkle>img{
height: 300px;
float: right;
}

#bullwinkle{
  width: 50%;
  font-size: 2em;
  text-align: left;
  border: solid black 2px;
  border-radius: 10px;
  background-color: #e2efde;
  padding: 10px;
  margin-bottom: 20px;
}

#thidwick{
width: 50%;
font-size: 2em;
text-align: right;
border: solid black 2px;
border-radius: 10px;
background-color: #e2efde;
padding: 10px;
margin-left: 48%;

margin-bottom: 20px;
}

#thidwick>img{
height: 300px;
float: left;
}

#staff{
  width: 50%;
  margin:auto;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  border: solid black 2px;
  border-radius: 10px;
  background-color: #e2efde;
  padding: 10px;
}

#staff>img{
height: 300px;
}

a{
  color:#5fcf7b;
  text-decoration: none;
}

#nav>div>p:hover{
  background-color: #a2a7a1;
}

#gamePage>div>h4>a{
  color:#4e878c;
}

#gamePage>div>h4>a:hover{
  color:#2d6064;
}

#gamePage>div>h4{
  margin: 0px;
  margin-bottom: 20px;
}

#gamePage>div>img{
  height: 200px;
  padding-bottom: 30px;
}

#gamePage>div>p{
width: 80%;
float: right;
text-align: left;
}

#gamePage>h2{
  text-align: center;
  border: black 1px solid;
  background-color: #e2efde;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}

#gamePage{
  font-size: 1.7em;
}

#gamePage>div{
  border: black 2px solid;
  border-radius: 8px;
  background-color: #e2efde;
  margin: 10px 0px;
  padding: 5px 20px;
}

#social>p{
  font-size: 4em;
  text-align: center;
}

#social{
}

#events>p{
  font-size: 2em;
  text-align: left;
  width: 80%;
}

#events>img{
  height: 300px;
  float: left;
  margin: auto;
  margin: 20px;
}

#events>h2{
  font-size: 3em;
  text-align: center;
}
#events{
  margin: auto;
  padding: 50px;
}
